.Container {
  padding: 1rem;
  margin: 1rem;
  background-color: #e1e1e2;

  label {
    margin-bottom: 0;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: grey;
    text-transform: uppercase;
    font-weight: 500;
  }
}
