<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Form</title>
</head>

<body>
  <form action="" method="POST">
    {{ object.get_absolute_url }}
    {% csrf_token %}
    <input type="submit" class="btn btn-primary btn-lg" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
    <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;" onclick="window.location='{{form.get_absolute_url}}'; return false;" value="Cancel">
</form>
</body>

</html>