{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<title>Edit Questions</title>
{% endblock %}

{% block content %}

<h1>{{ object }}</h1>
<h2>Edit Questions</h2>

<form method="POST">
    {% for form in formset %}
    {{ form|crispy }}
    {% endfor %}

  <div class="d-flex justify-content-center mb-4">
    <input type="submit" class="btn btn-primary mr-1" value="Submit">
    <a href="{{ object.get_absolute_url }}" class="btn btn-danger ml-1">Cancel</a>
  </div>
</form>

{% endblock %}